p {
  font-size: large;
  font-style: oblique;
}

body
{
  background-image: url(https://static.vecteezy.com/system/resources/previews/000/588/645/original/vector-floral-seamless-pattern-flower-background.jpg);
}
